body {
  font-family: 'Poppins';
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 40px 0;
}


.header__avatar {
  border-radius: 70%;
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 26px;
  line-height: 1.2;
  font-family: 'Poppins';
  color: #95a771 ;
}

.header__subtitle {
  color: #d18ebb;
  font-size: 21px;
  line-height: 1.4;
  margin: 0;
}

.links {
  width: 320px;
  margin-bottom: 40px;
}

.links__header {
  font-family: 'Poppins';
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 10px 0;
}

.links__container {
  list-style-type: none;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px;
  gap: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0;
}

.links__link,
.links__title {
  font-size: 14px;
  font-size: 1.4;
}

.links__link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 10px;
  gap: 30px;
  border-bottom: 1px solid #dadada;
  width: 280px;
}

.links__link:last-child {
  border-bottom: none;
}

.linsk__link,
.links__link:visited {
  text-decoration: none;
  color: #95a771;
}

.links__title {
  margin: 0;
  min-width: 100px;
}

footer {
  margin: 0 0 50px 0;
}
.button-link {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #daa4c8;
  border-radius: 30px;
  border-color: #ffffff;

  font-size: 16px;
  line-height: 1.4;
  font-weight: bold;

  color: #ffffff;
  text-decoration: none;
}

.button-link:hover {
  background-color: #d18ebb;
  font-weight: bold;
}

* {
 box-sizing: border-box;
}
:root {
 --size: 50;
 --unit: calc((var(--size) / 470) * 1vmin);
}
body {
 min-height: 100vh;
 display: flex;
 align-items: right;
 justify-content: right;
 margin: 0 0 90px 0;
}
svg {
 position: fixed;
 bottom: 0.5%;
 width: calc(100 * var(--unit));
 height: calc(100 * var(--unit));
}
